.modal {
    width: fit-content;
    max-width: 400px;
    background: var(--white);
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 50vw 150vw rgba(0,0,0,0.3);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}